<%- include('../include/temp_main/main_head.ejs')  %>
<%- include('../include/temp_main/main_navbar.ejs')  %>
    
    <div class="container" style="vertical-align: center; padding-top: 30vh; height: 100%;">
        <div class="row">
            <div class="col-md-6">
                <h3 style="font-size: xx-large;">Welcome to SRM OD PORTAL</h3>
                <p style="font-size: large;">College OD Management Site that provides complete functionality to manage
                    enrollment, students, faculty,
                    attendance, scheduling, assignments and grades.</p>
                <a href="/main_login.ejs" class="btn btn-success">Enter</a>
            </div>
            
            <div class="col-md-6 pt-2" style="padding-left: 10vw;">
                <img style="max-width: 95%;" src="/images/srm.jpg" alt="image">
            </div>
        </div>
    </div>

<%- include('../include/temp_main/main_foot.ejs')  %>