
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select your Batch</title>
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/f/fe/Srmseal.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" />
  <link rel="stylesheet" href="../css/studentBatch.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
  <nav
    class="relative w-full flex flex-wrap items-center justify-between py-4 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg">
    <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
      <div class="container-fluid">
        <a class="flex items-center text-gray-900 hover:text-gray-900 focus:text-gray-900 mt-2 lg:mt-0 mr-1" href="#">
          <img class="mr-2" src="https://upload.wikimedia.org/wikipedia/en/f/fe/Srmseal.png" style="width: 50px" alt=""
            loading="lazy" />
          <span class="font-medium" style="font-size: 20px">SRM University OD Portal</span>
        </a>
      </div>
      <div class="flex md:flex md:flex-grow flex-row-reverse space-x-1">
        <a href="studentBatch.php"
          class="py-4 px-2 text-gray-500 font-semibold hover:text-teal-300 transition duration-300">
          <button type="button"
            class="inline-block px-6 py-2.5 bg-purple-800 text-white font-medium text-xs leading-tight uppercase rounded shadow-lg hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Student
            Login
          </button>
        </a>
        <a href="../index.php"
          class="py-4 px-2 text-gray-500 font-semibold hover:text-teal-300 transition duration-300">
          <button type="button"
            class="inline-block px-6 py-2 border-2 border-purple-600 text-purple-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
            Home
          </button>
        </a>
      </div>
    </div>
  </nav>
    <form method="post">
    <div class="cards">
      <article class="information [ card ]">
        <h2 class="title">SRM VDP 2022-2026</h2>
        <p class="info">
          Students of this Year is considered as Batch 1 , so you can login or
          signup below.
        </p>
        <dl class="details">
          <div>
            <!-- <button type="submit" value="" name="batch1_Login">
              <dt><input type="submit" value="">Click Here</dt>
              <dd><input type="submit" value="">Login</dd>
            </button> -->
            <a class="btn btn-primary" href="batch_signin.ejs" role="button">SignIn</a>
          </div>
          <div>
            <!-- <button type="submit" value="" name="batch1_Signup">
              <dt><input type="submit" value="">Click Here to</dt>
              <dd><input type="submit" value="">Signup</dd>
            </button> -->
            <a class="btn btn-primary" href="batch_signup.ejs" role="button">SignUp</a>
          </div>
        </dl>
      </article>
      <article class="information [ card ]">
        <h2 class="title">SRM VDP 2021-2025</h2>
        <p class="info">
          Students of this Year is considered as Batch 2 , so you can login or
          signup below.
        </p>
        <dl class="details">
          <div>
            <!-- <button type="submit" value="" name="batch2_Login">
              <dt><input type="submit" value="">Click Here to</dt>
              <dd><input type="submit" value="">Login</dd>
            </button> -->
            <a class="btn btn-primary" href="batch_signin.ejs" role="button">SignIn</a>
          </div>
          <div>
            <!-- <button type="submit" value="" name="batch2_Signup">
              <dt><input type="submit" value="">Click Here to</dt>
              <dd><input type="submit" value="">Signup</dd>
            </button> -->
            <a class="btn btn-primary" href="batch_signup.ejs" role="button">SignUp</a>
          </div>
        </dl>
      </article>

      <article class="information [ card ]">
        <h2 class="title">SRM VDP 2020-2024</h2>
        <p class="info">
          Students of this Year is considered as Batch 3 , so you can login or
          signup below.
        </p>
        <dl class="details">
          <div>
            <!-- <button type="submit" value="" name="batch3_Login">
              <dt><input type="submit" value="">Click Here to</dt>
              <dd><input type="submit" value="">Login</dd>
            </button> -->
            <a class="btn btn-primary" href="batch_signin.ejs" role="button">SignIn</a>
          </div>
          <div>
            <!-- <button type="submit" value="" name="batch3_Signup">
              <dt><input type="submit" value="">Click Here to</dt>
              <dd><input type="submit" value="">Signup</dd>
            </button> -->
            <a class="btn btn-primary" href="batch_signup.ejs" role="button">SignUp</a>
          </div>
        </dl>
        </dl>
      </article>
    </div>
  </form>
  <script src="./script.js"></script>
</body>

</html>